---
{% for host in servers_to_monitor %}
{% if hostvars[host].tags.group == 'webserver' %}
vault_hostname: {{ ansible_host }}
{{ ansible_host|pprint }}
{{ hostvars[host]|pprint }}
{% endif %}
{% endfor %}
